.className {
  background: red;
  color:#444000;
  border: 1px solid #B4DA55;
}
#idName {
  background: red;
  color:#444000;
  border: 1px solid #B4DA55;
}
elementName {
  background: red;
  color:#444000;
  border: 1px solid #B4DA55;
}
.class-name {
  background: red;
  color:#444000;
  border: 1px solid #B4DA55;
}
#id-name {
  background: red;
  color:#444000;
  border: 1px solid #B4DA55;
}
.oo.class {
  background: red;
  color:#444000;
  border: 1px solid #B4DA55;
}
.sm .css {
  background: red;
  color:#444000;
  border: 1px solid #B4DA55;
}